@import 'styles/variables.scss';
@import 'components/Content/Content.module.scss';

.profissional{
    &__box1{        
        justify-self: center;
        margin: 0 0 $padding-vertical 0;
        display: flex;
    }
    &__fotoMini{
        width : 140px;
        height: 140px;       
        border-radius: 20px;
        margin-right: 8px;
        box-shadow: $sombra;
        cursor: pointer;
    }
  
}
// Resposividade
@media screen and (min-width: 940px){	

    .profissional{
        display:flex;
        width:80%;
        margin: auto;
    
        &__box1{
            width: 50%;
            padding: 0 40px;
            border-right: 1px solid;
        }
        &__box2{
            width: 50%;
            padding: 0 40px;
        }
    }    
}
